<div class="layout-content node-container">
  <div class="row">
    <article{{ attributes.addClass('product-invoice') }}>

      {{ title_prefix }}
      {% if not page %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}

      <div{{ content_attributes }}>
        <div class="header-image" style="background-image: url('/sites/default/files/default_images/header-cotizacion.jpg')">
          <h2>{{ 'Cotización' | t }}</h2>
          <ul>
            <li>{{ created }}</li>
            <li>{{ 'Contacto: Karina Guerrero / (506) 2436-81-26 / karina.guerrero@bsci.com' }}</li>
            <li>{{ 'Cuenta: Boston Scientific de Costa Rica S.R.L.' }}</li>
            <li>{{ 'Ejecutivo: Max Delgadillo-Sofía Flores' }}</li>
            <li>{{ 'Esta cotización vence:  ' ~ expires_on }}</li>
          </ul>
        </div>
        <div class="-invoice">
          <div class="row">
            <div class="col-md-7">
              <h2 class="c-project-name">{{ project_name }}</h2>
            </div>
            <div class="col-md-2">
                {% if  content.entity_print_view_pdf %}
                  {{ content.entity_print_view_pdf }}
                {% endif %}
            </div>
            <div class="col-md-3">
              <p class="c-number">{{ 'N de Cotización: ' ~ node.label | t }}</p>
            </div>
          </div>
          <div class="row">
            <div class="c-table-heading">
              <div class="col-xs-3">
                <p>{{ cantidad_label }}</p>
              </div>
              <div class="col-xs-4">
                <p>{{ descripcion_label }}</p>
              </div>
              <div class="col-xs-3">
                <p>{{ precio_unitario }}</p>
              </div>
              <div class="col-xs-2">
                <p>{{ sub_total_label }}</p>
              </div>
            </div>
          </div>
          {% if p_entity %}
            {{ p_entity }}
          {% endif %}
          <div class="table-responsive">
            <table class="-product">
            </table>
          </div>
          <div class="row">
            <div class="col-xs-12 col-md-9">
              <div class="c-observaciones">
                <strong>
                  {% if observ_label %}
                    {{ observ_label ~ ': '}}
                  {% else %}
                    {{ 'Observaciones: ' | t }}
                  {% endif %}
                </strong>
                <p>
                  {% if observ %}
                    {{ observ }}
                  {% else %}
                    {{ ' ' }}
                  {% endif %}
                </p>
              </div>
            </div>

            <div class="col-xs-12 col-md-3">
              <div class="c-amount-container">
                <ul>
                  {% if  sub_total_label and sub_total %}
                    <li>{{ sub_total_label ~ ': '}} <span>{{ currency ~ sub_total }}</span></li>
                  {% endif %}

                  {% if  descuento_label and descuento %}
                    <li>{{ descuento_label ~ ': '}} <span>{{ descuento }}</span></li>
                  {% endif %}

                  {% if  total_label and total %}
                    <li>{{ total_label ~ ': '}}  <span>{{ currency ~ total }}</span></li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="footer-image bill">
          <img src="/sites/default/files/default_images/footer-cotizacion.jpg" width="1233" height="205" alt="" typeof="foaf:Image">
        </div>

        {# second page: Anexos #}
        <div class="header-image" style="background-image: url('/sites/default/files/default_images/header-cotizacion.jpg')">
          <h2>{{ 'Cotización' | t }}</h2>
          <ul>
            <li>{{ created }}</li>
            <li>{{ 'Contacto: Karina Guerrero / (506) 2436-81-26 / karina.guerrero@bsci.com' }}</li>
            <li>{{ 'Cuenta: Boston Scientific de Costa Rica S.R.L.' }}</li>
            <li>{{ 'Ejecutivo: Max Delgadillo-Sofía Flores' }}</li>
            <li>{{ 'Esta cotización vence:  ' ~ expires_on }}</li>
          </ul>
        </div>
          <div class="-invoice">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <h2 class="c-anexo-header">{{ 'Anexo' | t }}</h2>
                <img src="/sites/default/files/default_images/c-anexos.jpg" width="1233" height="205" alt="" typeof="foaf:Image">
              </div>
            </div>
          </div>
        <div class="footer-image">
          <img src="/sites/default/files/default_images/footer-cotizacion.jpg" width="1233" height="205" alt="" typeof="foaf:Image">
        </div>
      </div>
    </article>
  </div>
</div>