<details{{ attributes.addClass('collapsible') }}>
  {%
  set summary_classes = [
  required ? 'js-form-required',
  required ? 'form-required',
  ]
  %}
  {%- if title -%}
    <summary{{ summary_attributes.addClass(summary_classes) }}>{{ title }}</summary>
  {%- endif -%}

  {% if errors %}
    <div>
      {{ errors }}
    </div>
  {% endif %}
    <div class="collapsible-body">
      <p>{{ description }}</p>
      {{ children }}
      {{ value }}
    </div>
</details>
